<!-- Modal for 23  -->
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Sad kitty</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="text-center">
         <div class="mt-2 mb-2 w-100">
            <a href="https://www.youtube.com/watch?v=MJsd9CNHizc">Clica, vê e ouve, tu vais reconhecer o que é!</a>
        </div>
            <div class="mt-2 mb-2 w-100">
                <p>Eu só queria fazer-te feliz, muito feliz, sempre foi esse o meu único objetivo!!</p>
                <p>DESCULPA, EU AMO-TE ESTÚPIDA!!!</p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <video class="embed-responsive-item" autoplay loop playsinline>
                            <source src="/tufinho/assets/heart.mp4" type="video/mp4">
                        </video>  
                    </div>
            </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="close()">ADORO-TE</button>
</div>
