<!-- Modal for 19 video -->
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Uma pequena história</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        </button>
    </div>
    <div class="modal-body">
        <form>
        <div class="form-group">
            <label for="dateOfBirth">Eu não sei se vais ver este video ou não, 
                mas fica aqui, porque a esperança é a última a morrer!
                Ouve com som!
            </label>
            <div class="embed-responsive embed-responsive-16by9 text-center">
                <iframe autoplay width="560" height="315" src="https://www.youtube.com/embed/2mf936yeLx8?autoplay=1&modestbranding=1&amp&title=" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;" allowfullscreen="true"></iframe>
            </div>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="close()">ADORO-TE</button>
    </div>
