<!-- Modal for 24 -->
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Sorri</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
    <div class="form-group">
        <label for="dateOfBirth">Caso algum dia esqueças de sorrir tens aqui algo que te vai fazer sorrir!</label>
        <div>
            <img class="img-fluid" src="/tufinho/assets/pepsodent.jpg">
        </div>
    </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="close()">ADORO-TE</button>
</div>
