<!-- Modal for 24 -->
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Sorri</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
    <div class="form-group">
        <p>Como é que uma estranha, entra na minha vida, e muda o que EU pensei que significava estar vivo. É de doidos como é que passaste de ser apenas uma estranha...</p>

        <p>EU não te conhecia, e EU nem me conhecia a mim mesmo, EU era um soldado, era um exército de um homem, EU pensei que o teu futuro não se aplicava a mim e quando EU te conheci, EU tinha apenas 21 anos, e agora és tudo para mim!
            EU não teria acreditado em ti, se me dissesses como é que uma estranha entra na minha vida, e é capaz de mudar tudo!
            É de doidos como é que passaste de ser apenas uma estranha para seres o meu mundo inteiro!</p>
            
        <p>Mas às vezes temos de saber abdicar desse mundo, e das coisas, e das pessoas, pois elas não nos pertencem, nem as podemos obrigar, por muito que queiramos, e por muito medo que tenhamos de ficar sozinhos, de largar aquilo pelo que lutamos, e que esperávamos um dia ter...</p>
            
        <p>EU nunca te vou esquecer, tu és muito especial para mim, muito mesmo, eu admiro-te imenso, e respeito-te, e espero que consigas tudo o que queres desta vida. Eu acredito em ti, acredito que és capaz de fazer tudo o que tu quiseres, tudo mesmo, tu és incrível.</p> 
            
        <p>EU vou ver sempre o melhor em ti, mesmo quando tu não o vês, todos nos cometemos erros na vida, é normal, ninguém é perfeito, muito menos eu, eu ainda dou erros gramaticais...</p>
            
        <p>EU também agradeço por seres forte por mim, e me afastares, EU não sou capaz de o fazer, dói demasiado. Desculpa, o meu comportamento, é errado EU sei, e espero que sejas capaz de me perdoar.</p>
            
        <p>Também quero que saibas que me preocupo imenso contigo, mesmo muito. E mais importante de tudo, quero que saibas que mudaste a minha vida, mostraste-me aquilo que sou capaz de fazer por aquela pessoa, mostraste-me um novo lado da vida e aprendi imenso contigo  e como tal vais ser sempre alguém muito, mesmo muito importante para mim.</p>
            
        <p>Tu e a tua felicidade são uma das minhas prioridades na minha vida, eu sou mesmo capaz de tudo por ti, eu só queria tornar os teus dias e momentos maus em bons, mais nada, em qualquer altura do dia, nunca o contrário, apesar de ser egoísta e o fazer às vezes... e sim queria uma relação contigo, uma em que pudesse ser estúpido contigo, pudesse fazer-te rir com as minhas parvoíces e quando precisasses de alguma coisa, nem que fosse para partilhar que entraste nas bombas do lado dos camiões, ou então para falar mal de alguém do trabalho, do Filipe ou da Sofia, de quem fosse, queria ser o primeiro a quem ligasses, a quem contasses... essa relação iria ser uma relação normal, saudável e feliz, sem grandes problemas, porque o problema já não existia, mas é apenas a minha teoria, e talvez não vá passar disso... de uma simples teoria.</p> 
            
        <p>EU desejo-te tudo menos dor e sofrimento nesta vida, EU não te quero ver a sofrer, nem triste, EU quero que estejas com um sorriso pepsodent, todos os dias , mesmo que a razão dele não seja eu, e eu não o esteja lá para o ver. E caso custe às vezes, lembra-te que conheces alguém muito estúpido sempre pronto para te fazer rir!</p>
        <div>
            <img class="img-fluid" src="/tufinho/assets/pepsodent.jpg">
        </div>
    </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="close()">ADORO-TE</button>
</div>
