<!-- Modal for 19 video -->
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Uma última vez</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    </button>
</div>
<div class="modal-body">
    <form>
    <div class="form-group">
        <label for="dateOfBirth">O amor é como um casino. Avaliamos os riscos, analisamos e apostamos as nossas fichas! 
            A diferença é que quando perdemos, independentemente de quanto apostamos, perdemos muito mais do que as nossas fichas...
            Eu vou sempre apostar no amor. No próprio e do próximo. Ganhando ou perdendo. Eu já fiz a minha escolha...
        </label>
        <div class="embed-responsive embed-responsive-16by9 text-center">
            <iframe autoplay width="560" height="315" src="https://www.youtube.com/embed/M9PnG7fE6ko?autoplay=1&modestbranding=1&amp&title=" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;" allowfullscreen="true"></iframe>
        </div>
    </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="close()">ADORO-TE</button>
</div>

