<!-- Surprise Modal -->

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">O que tu és para mim:</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>És um belo por de Sol que eu quero ver todos os dias!</b></li>
                <li class="list-group-item"><b>És uma gata a quem eu adoro dar sempre mimos!</b></li>
                <li class="list-group-item"><b>És uma canção mil vezes ouvida e sempre repetida!</b></li>
                <li class="list-group-item"><b>És a minha casa!</b></li>
                <li class="list-group-item"><b>És única e por isso, muito especial!</b></li>
                <li class="list-group-item"><b>A razão da batida acelerada do meu coração!</b></li>
                <li class="list-group-item"><b>És a minha principessa e eu amo-te!</b></li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">ADORO-TE</button>
    </div>
</ng-template>

<!-- Modal for 1 -->
<ng-template #content1 let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">O Ínicio</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="dateOfBirth">És LINDA, nota-se mesmo que és filha do lindo</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">ADORO-TE</button>
        </div>
      </ng-template>

<!-- Modal for 2 -->
<ng-template #content2 let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Passar a mão no pêlo</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="dateOfBirth">Quanto mais tempo passava com a gata, mais a achava incrível.</label>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">ADORO-TE</button>
    </div>
  </ng-template>

  <!-- Modal for 3 -->
<ng-template #content3 let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">O Problema</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="dateOfBirth">Há certas coisas que acontecem sem razão</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">ADORO-TE</button>
        </div>
      </ng-template>

        <!-- Modal for 4 -->
<ng-template #content4 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">A panca pela gata</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
        <div class="form-group">
            <label for="dateOfBirth">"A liberdade que o Amor me proporciona é a verdade que o coração não aprisiona."</label>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">ADORO-TE</button>
    </div>
</ng-template>

<!-- Modal for 5 -->
<ng-template #content5 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">A oportunidade</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
        <div class="form-group">
            <label for="dateOfBirth">Quem diria que a pata dela é do mesmo tamanho da minha. Encaixamos perfeitamente.</label>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">ADORO-TE</button>
    </div>
</ng-template>

<!-- Modal for 6 -->
<ng-template #content6 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">A estupidez</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
        <div class="form-group">
            <label for="dateOfBirth">Mas eu quero ser estúpido contigo. Amar é ser estúpidos juntos. </label>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">ADORO-TE</button>
    </div>
</ng-template>

<!-- Modal for 7 -->
<ng-template #content7 let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Saudades</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
            <div class="form-group">
                <label for="dateOfBirth">A ausência apaga as pequenas paixões e fortalece as grandes.</label>
            </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">ADORO-TE</button>
        </div>
    </ng-template>

<!-- Modal for 8 -->
<ng-template #content8 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Os mimos</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
        <div class="form-group">
            <label for="dateOfBirth">Não existe mais ninguém a quem eu queira 
                fazer e dar mimos. Desde abraços, beijos, a bountys, 
                gomas, chapéus de bruxas ou plantas. Tudo!</label>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">ADORO-TE</button>
    </div>
</ng-template>

<!-- Modal for 9 -->
<ng-template #content9 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">As discussões</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
        <div class="form-group">
            <label for="dateOfBirth">Eu não me importo de descutir contigo. Porque eu sei que vou te estender a minha mão, 
                para te puxar e abraçar e dizer o quão especial tu és para mim!</label>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">ADORO-TE</button>
    </div>
</ng-template>


<!-- Modal for 10 -->
<ng-template #content10 let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Pôr as patas em cima</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
            <div class="form-group">
                <label for="dateOfBirth">De todos os abraços que já dei, nunca dei um como o nosso,
                    onde o tempo e todo o mundo pára, só para nos ver juntos!
                </label>
            </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">ADORO-TE</button>
        </div>
    </ng-template>

<!-- Modal for 11 -->
<ng-template #content11 let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">A Nikita</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
            <div class="form-group">
                <label for="dateOfBirth">A Nikita é alguém muito especial 
                    não só para a gata de quem eu gosto muito, mas para mim também!
                </label>
            </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">ADORO-TE</button>
        </div>
    </ng-template>

    <!-- Modal for 12 -->
<ng-template #content12 let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Perdido</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
            <div class="form-group">
                <label for="dateOfBirth">Quando olho para ti, sinto-me distante, 
                    quando penso em ti, sinto-me perdido e quando eu te encontro sinto-me vivo!
                </label>
            </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">ADORO-TE</button>
        </div>
    </ng-template>

<!-- Modal for 13 video -->
    <ng-template #content13 let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Uma pequena história</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                <div class="form-group">
                    <label for="dateOfBirth">Eu não sei se vais ver este video ou não, 
                        mas fica aqui, porque a esperança é a última a morrer!
                        Ouve com som!
                    </label>
                    <div class="embed-responsive embed-responsive-16by9 text-center">
                        <iframe autoplay width="560" height="315" src="https://www.youtube.com/embed/2mf936yeLx8?autoplay=1&modestbranding=1&amp&title=" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;" allowfullscreen="true"></iframe>
                    </div>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">ADORO-TE</button>
            </div>
    </ng-template>

<!-- Modal for 14 desejo -->
<ng-template #content14 let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Desejos</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
                <form class="contactform" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                        <h5>Só tens de dizer qual o desejo e a razão pela qual o queres...</h5>
                        <p>E ele se concretizará!</p>
                        <!-- Desejo-->
                        <label for="dateOfBirth">O desejo</label>
                        <input type="text" formControlName="contactFormSubjects" id="defaultContactFormName" mdbInputDirective
                          class="form-control mb-4" placeholder="o que mais desejas...">
                      
                        <!-- Razão -->
                        <div class="form-group">
                            <label for="dateOfBirth">A razão</label>
                            <textarea formControlName="contactFormMessage" class="form-control rounded-0" mdbInputDirective id="exampleFormControlTextarea2"
                            rows="3" placeholder="Porquê?"></textarea>
                        </div>
                      
                        <!-- Send button -->
                        <button  class="btn btn-danger w-100 mt-2"
                          type="submit">Pedir</button>                    
                </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">ADORO-TE</button>
        </div>
</ng-template>


<!-- Modal for 15 video -->
<ng-template #content15 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Carta ao Pai Natal</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <p class="h5">Querido Pai Natal,</p>
 
            <p class="h6 text-justify">Espero que estejas em forma, pois o Natal está a chegar e tens uma longa viagem para fazer e muitas chaminés onde entrar, para conseguires entregar os presentes a todas as crianças. 
                Eu já não sou uma criança, bem depende dos dias, mas no entanto, queria te pedir uma prenda na mesma. Uma prenda muito especial para mim, pois tendo esta já não preciso de mais nenhuma. Esta prenda faria de mim a “criança“ mais feliz do mundo!! Eu sei Pai Natal, que às vezes me porto mal, que nem sempre tenho as melhores atitudes, por isso peço desculpa, não era minha intenção, magoar, nem fazer sofrer ninguém. Eu só queria ser feliz e fazer outros felizes!!</p>
                    
            <p class="h6 text-justify">E eu sou muito feliz, quando estou com a prenda que te estou a pedir, não preciso que venha embrulhada, nem com lacinho, ela já é linda de morrer, não precisa de enfeites nenhuns, só a quero a ELA!!!
                    Já deves adivinhar, qual é a prenda que te estou a pedir. 
                    E eu sei que o que estou a pedir é quase impossível, e que não tens qualquer poder sobre os sentimentos e as decisões de uma pessoa. Mas eu também não quero que a obrigues. 
                    Eu quero uma oportunidade, é tudo o que preciso, para lhe poder provar o quanto eu gosto dela e quanto sou feliz ao lado dela!!!</p>
                    
            <p class="h6 text-justify">Resumindo, tens de me dar a prenda, sem me dar a prenda… eu sei que é complicado, mas peço-te por favor, que tentes, podes não conseguir, mas tenta por favor, por mim, é o meu único desejo…
                    E eu juro, se tiver a prenda, vou amar aquela estúpida prenda para sempre, pois ela é MUITO especial para mim!!!</p>
                    
            <p class="h5 mt-5">Abraço,</p>
            <p class="h5">de uma criança grande.</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">ADORO-TE</button>
    </div>
</ng-template>

<!-- Modal for 15 video -->
<ng-template #content16 let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Um pequeno Poema</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="text-center">
     
                <p class="h6">A vida é construída com erros</p>
                <p class="h6">Eles acontecem por diversas razões…</p>
                <p class="h6">Porque somos burros…</p>
                <p class="h6">Porque somos casmurros…</p>
                <p class="h6">Porque ouvimos sussurros…</p>
                <p class="h6 mb-4">E porque temos muros…</p>
                        
                <p class="h6">Mas eu prefiro estar errado,</p>
                <p class="h6">do que sentir o meu coração amarrado,</p>
                <p class="h6">do meu sentimento enterrado,</p>
                <p class="h6">do meu amor por ti esborrachado,</p>
                <p class="h6">sabendo que te estou a proteger</p>
                <p class="h6 mb-4">em vez de desproteger.</p>
                        
                <p class="h6">Eu vou sempre te proteger…</p>

                <p class="h6">Prefiro que estejas zangada,</p>
                <p class="h6">Me queiras bater com um pau-de-jangada,</p>
                <p class="h6">Me dar uma chapada,</p>
                <p class="h6 mb-4">Ou até mesmo uma facada…</p>

                <p class="h6">Do que estejas desprotegida…</p>
                <p class="h6">E se tiver de me afastar,</p>
                <p class="h6">De lutar contra o meu coração,</p>
                <p class="h6 mb-4">contra tudo aquilo que eu quero e sinto…</p>

                <p class="h6">Assim seja, pois a tua felicidade vem primeiro,</p>
                <p class="h6">onde sempre esteve…</p>
                        
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">ADORO-TE</button>
        </div>
    </ng-template>

<!-- modal window finsih-->
    <hr>

    <!-- insert grid with cute kittens-->
    <div class="container x">
            <div class="mt-2 mb-2 w-100">
                <p>Eu só queria fazer-te feliz, muito feliz, sempre foi esse o meu único objetivo!!</p>
                <p>DESCULPA, EU AMO-TE ESTÚPIDA!!!</p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <video class="embed-responsive-item" autoplay>
                            <source src="/tufinho/assets/heart.mp4" type="video/mp4">
                        </video>  
                    </div>
            </div>
            <div class="mt-2 mb-2 w-100">
                    <p>Não sei se vais ler ou não, por isso clica, e lê por favor, é um pequeno poema que eu escrevi só para ti!!</p>
                        <button class="btn btn-lg btn-outline-danger mb-5 w-100" (click)="open16(content16)"><i class="fa fa-heart mx-5"></i></button>
            </div>
            <div class="mt-2 mb-2 w-100">
                    <p>Carta para o Pai Natal!</p>
                        <button class="btn btn-lg btn-outline-danger mb-5 w-100" (click)="open15(content15)"><i class="fa fa-gift mx-5"></i></button>
            </div>
            <div class="mt-2 mb-2 w-100">
                <p>Pede um desejo aqui!</p>
                    <button class="btn btn-lg btn-outline-danger mb-5 w-100" (click)="open14(content14)"><i class="fa fa-heart mx-5"></i></button>
            </div>
            <div class="mt-2 mb-2 w-100">
                <p>Últimas novidades! Clique aqui!</p>
                    <button class="btn btn-lg btn-outline-danger mb-5 w-100" (click)="open13(content13)"><i class="fa fa-heart mx-5"></i></button>
            </div>
        <!-- first row -->
        <div class="row mt-2">
            <div class="col-sm mt-2">
                <div class="card h-100">
                    <img src="/tufinho/assets/1.jpg" class="card-img-top" >
                    <div class="card-body">
                        <h5 class="card-title">O Início</h5>
                        <p class="card-text">Um dia encontrei uma gata muito bonita, de blusa vermelha e calça preta, 
                            não conseguia desviar o meu olhar dela... 
                            estava completamente perdido no tempo.
                        </p>
                        <button class="btn btn-lg btn-outline-warning" (click)="open1(content1)"><i class="fa fa-heart mx-5"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-sm mt-2">
                <div class="card h-100">
                    <img src="/tufinho/assets/2.jpg" class="card-img-top" >
                    <div class="card-body">
                        <h5 class="card-title">Passar a mão no pêlo</h5>
                        <p class="card-text">Ao pouco e pouco fui conhecendo esta gata, 
                            e não para minha supresa vim a descobrir que ela é uma gata incrível.
                            Mas havia um problema, um grande problema...</p>
                        <button class="btn btn-lg btn-outline-warning" (click)="open2(content2)"><i class="fa fa-heart mx-5"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-sm mt-2">
                <div class="card h-100">
                    <img src="/tufinho/assets/3.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">O Problema</h5>
                        <p class="card-text">Quando soube que esta gata estava comprometida, 
                            fiquei triste, pois sabia que ia ser impossível ela vir a gostar
                            de mim ou a sentir algo por mim...</p>
                            <button class="btn btn-lg btn-outline-warning" (click)="open3(content3)"><i class="fa fa-heart mx-5"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- second row -->
        <div class="row mt-4">
            <div class="col-sm mt-2">
                <div class="card h-100">
                    <img src="/tufinho/assets/4.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">A panca pela gata</h5>
                        <p class="card-text">Eu consegui resistir durante algum tempo ao seu charme, 
                            beleza e carisma, mas eu não sou feito de pedra, logo não aguentei e cedi,
                             deixei o meu coração sentir!</p>
                            <button class="btn btn-lg btn-outline-warning" (click)="open4(content4)"><i class="fa fa-heart mx-5"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-sm mt-2">
                <div class="card h-100">
                    <img src="/tufinho/assets/5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">A oportunidade</h5>
                        <p class="card-text">Consegui me aproximar desta bela gata, e consegui marcar um jantar com ela, 
                            que era o que eu mais queria neste mundo. 
                            Uma oportunidade, onde me ia declarar.</p>
                            <button class="btn btn-lg btn-outline-warning" (click)="open5(content5)"><i class="fa fa-heart mx-5"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-sm mt-2">
                <div class="card h-100">
                    <img src="/tufinho/assets/6.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">A estupidez</h5>
                        <p class="card-text">Eu fui estúpido, e cancelei o jantar e por causa disso estive com as minhas patas longe da gata 
                            durante algum tempo, mas quando o destino quer, ele volta a juntar!
                        </p>
                        <button class="btn btn-lg btn-outline-warning" (click)="open6(content6)"><i class="fa fa-heart mx-5"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- third row -->
        <div class="row mt-2">
            <div class="col-sm mt-2">
                <div class="card">
                    <img src="/tufinho/assets/7.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Saudades</h5>
                        <p class="card-text">O problema do tempo é que quando duas pessoas gostam uma da outra, ele faz o efeito contrário do desejado.
                            O tempo provocou saudades da gata e quanto mais tempo passei longe dela pior foi, mais saudades tinha!</p>
                        <button class="btn btn-lg btn-outline-warning" (click)="open7(content7)"><i class="fa fa-heart mx-5"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-sm mt-2">
                <div class="card">
                    <img src="/tufinho/assets/8.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Os mimos</h5>
                        <p class="card-text">Eu cedi à saudade e voltei a tentar conquistar a gata, 
                            fiz todo o tipo de coisas possíveis e imagináveis! Ela adorou todas elas, e adorei fazer aqueles mimos e surpresas todas,
                        pois ela merece, todo o meu amor e carinho!</p>
                        <button class="btn btn-lg btn-outline-warning" (click)="open8(content8)"><i class="fa fa-heart mx-5"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-sm mt-2">
                <div class="card">
                    <img src="/tufinho/assets/9.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">As discussões</h5>
                        <p class="card-text">Já tive imensas discussões com a gata e eu tenho a 
                            certeza que muitas mais estão para vir. 
                            Já tivemos discussões mesmo más e agressivas, 
                            sendo eu o culpado. Às vezes não consigo lidar
                            com o que a gata me faz sentir...
                        </p>
                        <button class="btn btn-lg btn-outline-warning" (click)="open9(content9)"><i class="fa fa-heart mx-5"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- fourth row -->
        <div class="row mt-2 mb-5">
            <div class="col-sm mt-2">
                <div class="card">
                    <img src="/tufinho/assets/10.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Pôr as patas em cima</h5>
                        <p class="card-text">No final de todas as discussões depois de termos resolvido, 
                            finalmente posso lhe por as minhas patas em cima, a minha parte favorita (é segredo shhhh). 
                            E vou logo dar-lhe um longo e forte abraço com esperança que nunca termine!</p>
                            <button class="btn btn-lg btn-outline-warning" (click)="open10(content10)"><i class="fa fa-heart mx-5"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-sm mt-2">
                <div class="card">
                    <img src="/tufinho/assets/11.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">A Nikita</h5>
                        <p class="card-text">Quando a melhor amiga da minha gata ficou doente, ela sofreu muito, e eu não a pude ajudar em nada.
                            A única coisa que me aptecia fazer era pegar nela e na Nikita e abraçar as duas com força sem nunca mais largar, 
                            até que o susto fosse embora...
                        </p>
                        <button class="btn btn-lg btn-outline-warning" (click)="open11(content11)"><i class="fa fa-heart mx-5"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-sm mt-2">
                <div class="card">
                    <img src="/tufinho/assets/12.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Perdido</h5>
                        <p class="card-text">Sem a gata na minha vida, eu sinto-me completamente perdido, 
                            não sei que mais fazer para a conquistar, para a ter ao meu lado.
                            E agora estou aqui parado no tempo, com os meus sentimentos aos saltos, à espera que o tempo te traga até mim...
                        </p>
                        <button class="btn btn-lg btn-outline-warning" (click)="open12(content12)"><i class="fa fa-heart mx-5"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-5 w-100">
        <button class="btn btn-lg btn-outline-danger mb-5 w-100" (click)="open(content)"><i class="fa fa-heart mx-5"></i></button>
    </div>
