.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.card-img-top:hover{
    outline: solid 3px #ffc107;
    opacity: 0.5;
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
        .card-img-top {
            width: 100%;
            height: 70vw;
            object-fit: cover;
        }
        .x{
            margin: auto;
            width: 100%;
        }
        .card{
            margin: auto;
            width: 100%;
        }

        .row{
            width: 100%;
            margin: auto;
        }
    }

    @media only screen 
    and (device-width : 375px) 
    and (device-height : 667px){

        .card-img-top {
            width: 100%;
            height: 85vw;
            object-fit: cover;
        }
        .x{
            margin: auto;
            width: 100%;
        }
        .card{
            margin: auto;
            width: 100%;
        }

        .row{
            width: 100%;
            margin: auto;
        }
    }
