<app-header></app-header>
<div class="row h-100 bg-light">
    <div class="col animated fadeIn slow">
        <div id="home"></div>
    </div>
    <div class="col-9">
        <div class="text-center mt-3">
            <a href="#" class="h2 text-warning"><i class="animated bounceInLeft slow fa fa-paw fa-2x mr-3"></i>A Purr-fect Story<i class="animated bounceInRight slow fa fa-paw fa-2x ml-3"></i></a>
            <p class="blockquote">by Tufinho</p>
        </div>
        <div class="text-center mt-3">
            <app-kittens></app-kittens>
        </div>
    </div>
    <div class="col animated fadeIn slow">
        <div id="home"></div>
    </div>
</div>
<app-footer></app-footer>