<!-- Modal for 17 Natal -->

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">A Pocahontas e o seu grande amor</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="text-center">
             <img src="/tufinho/assets/pocahontas.jpg" class="card-img-top">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="close()">ADORO-TE</button>
    </div>
