<!-- Modal for 18 Recomeço -->
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">O Recomeço</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="text-center">
             <p class="h6">O destino está a forçar, não nos deixa afastar... 
                fizemos as pazes e estamos de volta ao mesmo.</p>
            <p class="h6">E eu perdido, à espera que o tempo me dê alguma luz, sobre o que fazer...</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="close()">ADORO-TE</button>
    </div>
