<!-- Modal for 19 Recomeço -->
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">A maior questão de todas</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="text-center">
            <p class="h6">Reza a lenda que</p>
            <p class="h6">Quem quer dizer o que sente</p>
            <p class="h6">Não sabe o que há de dizer.</p>
            <p class="h6">Fala: parece que mente...</p>
            <p class="h6">Cala: parece esquecer...</p>
            <p class="h6">No entanto, eu nunca te esqueci, 
            nem nunca vou esquecer, mesmo que não fiquemos juntos para sempre</p>
            <p class="h6">Mas mesmo assim eu tenho de perguntar, eu tenho de saber, para poder ser feliz e fazer-te feliz</p>
            <p class="h6">Tu queres o final feliz do conto de princesas?</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="close()">ADORO-TE</button>
    </div>
