    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">O que tu és para mim:</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>És um belo por de Sol que eu quero ver todos os dias!</b></li>
                <li class="list-group-item"><b>És uma gata a quem eu adoro dar sempre mimos!</b></li>
                <li class="list-group-item"><b>És uma canção mil vezes ouvida e sempre repetida!</b></li>
                <li class="list-group-item"><b>És a minha casa!</b></li>
                <li class="list-group-item"><b>És única e por isso, muito especial!</b></li>
                <li class="list-group-item"><b>A razão da batida acelerada do meu coração!</b></li>
                <li class="list-group-item"><b>És a minha principessa e eu amo-te!</b></li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="close()">ADORO-TE</button>
    </div>
