<!-- Modal for 22 Poema -->
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Um pequeno Poema</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="text-center">
 
            <p class="h6">A vida é construída com erros</p>
            <p class="h6">Eles acontecem por diversas razões…</p>
            <p class="h6">Porque somos burros…</p>
            <p class="h6">Porque somos casmurros…</p>
            <p class="h6">Porque ouvimos sussurros…</p>
            <p class="h6 mb-4">E porque temos muros…</p>
                    
            <p class="h6">Mas eu prefiro estar errado,</p>
            <p class="h6">do que sentir o meu coração amarrado,</p>
            <p class="h6">do meu sentimento enterrado,</p>
            <p class="h6">do meu amor por ti esborrachado,</p>
            <p class="h6">sabendo que te estou a proteger</p>
            <p class="h6 mb-4">em vez de desproteger.</p>
                    
            <p class="h6">Eu vou sempre te proteger…</p>

            <p class="h6">Prefiro que estejas zangada,</p>
            <p class="h6">Me queiras bater com um pau-de-jangada,</p>
            <p class="h6">Me dar uma chapada,</p>
            <p class="h6 mb-4">Ou até mesmo uma facada…</p>

            <p class="h6">Do que estejas desprotegida…</p>
            <p class="h6">E se tiver de me afastar,</p>
            <p class="h6">De lutar contra o meu coração,</p>
            <p class="h6 mb-4">contra tudo aquilo que eu quero e sinto…</p>

            <p class="h6">Assim seja, pois a tua felicidade vem primeiro,</p>
            <p class="h6">onde sempre esteve…</p>
                    
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="close()">ADORO-TE</button>
    </div>
