<!-- Modal for 20 -->
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Carta ao Pai Natal</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <p class="h5">Querido Pai Natal,</p>
 
            <p class="h6 text-justify">Espero que estejas em forma, pois o Natal está a chegar e tens uma longa viagem para fazer e muitas chaminés onde entrar, para conseguires entregar os presentes a todas as crianças. 
                Eu já não sou uma criança, bem depende dos dias, mas no entanto, queria te pedir uma prenda na mesma. Uma prenda muito especial para mim, pois tendo esta já não preciso de mais nenhuma. Esta prenda faria de mim a “criança“ mais feliz do mundo!! Eu sei Pai Natal, que às vezes me porto mal, que nem sempre tenho as melhores atitudes, por isso peço desculpa, não era minha intenção, magoar, nem fazer sofrer ninguém. Eu só queria ser feliz e fazer outros felizes!!</p>
                    
            <p class="h6 text-justify">E eu sou muito feliz, quando estou com a prenda que te estou a pedir, não preciso que venha embrulhada, nem com lacinho, ela já é linda de morrer, não precisa de enfeites nenhuns, só a quero a ELA!!!
                    Já deves adivinhar, qual é a prenda que te estou a pedir. 
                    E eu sei que o que estou a pedir é quase impossível, e que não tens qualquer poder sobre os sentimentos e as decisões de uma pessoa. Mas eu também não quero que a obrigues. 
                    Eu quero uma oportunidade, é tudo o que preciso, para lhe poder provar o quanto eu gosto dela e quanto sou feliz ao lado dela!!!</p>
                    
            <p class="h6 text-justify">Resumindo, tens de me dar a prenda, sem me dar a prenda… eu sei que é complicado, mas peço-te por favor, que tentes, podes não conseguir, mas tenta por favor, por mim, é o meu único desejo…
                    E eu juro, se tiver a prenda, vou amar aquela estúpida prenda para sempre, pois ela é MUITO especial para mim!!!</p>
                    
            <p class="h5 mt-5">Abraço,</p>
            <p class="h5">de uma criança grande.</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="close()">ADORO-TE</button>
    </div>
