<!-- Modal for 5 -->
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">A oportunidade</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
    <div class="form-group">
        <label for="dateOfBirth">Quem diria que a pata dela é do mesmo tamanho da minha. Encaixamos perfeitamente.</label>
    </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="close()">ADORO-TE</button>
</div>
