<!-- Modal for 12 -->
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Perdido</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
        <div class="form-group">
            <label for="dateOfBirth">Quando olho para ti, sinto-me distante, 
                quando penso em ti, sinto-me perdido e quando eu te encontro sinto-me vivo!
            </label>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="close()">ADORO-TE</button>
    </div>

