
::ng-deep .size .modal-dialog { 
    max-width: 60%;
    max-height: 100%;
}
body {
    background: #333;
    height: 100%;
    color: #fff;
    font-family: 'Archivo Black', sans-serif;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
  }
  
  .heart {
    fill: red;
    position: relative;
    top: 5px;
    width: 50px;
    animation: pulse 1s ease infinite, 
  }

  #home {
    background: url('../../../assets/cats.png') repeat;
    height: 100%;

  /* Center and scale the image nicely */
    background-repeat: repeat;
}

/*iphone 6*/
@media only screen 
and (device-width : 375px) 
and (device-height : 667px){

  #f1{
  font-size: 30px;
  }
  #f2{
  font-size: 13px;
  }
}
  